<style>
    .opisSmestaja {
        margin-top: 10px;
        width: 500px;
        padding: 10px;
        box-shadow: 3px 0px 5px 3px #424C48;
    }

    .opisHotela,
    .imeISlika,
    .brojSoba {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imeISlika {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    img {
        height: 100px;
        width: 150px;
        margin-right: 30px;
    }

    .rezervacija {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .reserve {
        margin-left: 10px;
        height: 40px;
    }

    .input {
        text-align: center;
        width: 30px;
    }
</style>
<div class="opisSmestaja">
    <div class="imeISlika">
        <img src="assets/img/slikasobe.jpg" alt="slika sobe sa bračnim krevetom">
        <h4 class="imeHotela"><input type="text" value="{{ smestaj.imeHotela }}" #imeHotela></h4>
    </div>
    <p class="brojSoba">Broj soba : <input class="brojSoba" type="number" value="{{ smestaj.brojSoba }}"></p>
    <p class="opisHotela"><textarea cols="30" rows="7">{{ smestaj.opisHotela }}</textarea></p>
    <p class="rezervacija">Cena sobe za 1 dan : {{ smestaj.cenaSobe }}$</p>
    <p class="rezervacija">Cena sobe za uneti broj dana : {{ izracunajCenu() }}$</p>

    <div class="rezervacija">
        <button (click)="otkaziJednuNoc()" class="reserve btn btn-danger">-</button>
        <input type="text" value="{{ brojRezervisanihDana }}" class="reserve input">
        <button (click)="dodajJednuNoc()" class="reserve btn btn-danger">+</button>
    </div>

    <button (click)="obrisi()" class="btn btn-danger">Obriši</button>
</div>