.levo{
    margin-left: 7%;
    display: flex;
    flex-direction: column;
}

nav{
    border-bottom: 1px solid #33B8FF;
}

.razmak{
    letter-spacing: 2px;
    margin-bottom: unset;
    font-size: 22px;
}

.link{
    margin-left: 15%;
}

.desno{
    display: flex;
    flex-direction: column;
    margin-left: 14%;
    align-items: center;
    justify-content: center;
}

.sredina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

.wrapper{
    display: flex;
    align-items: center;
    height: 50px;
}

.main{
    background-image: url("slika.jpg");
    height: 800px;
    text-align: center;
    color: #032E63;
    display: flex;
    flex-direction: column;
}

.h1{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h4{
    color: gray;
    font-size: 20px;
}

.tekst{
    margin-top: 0.4%;
}

.div4{
    height: 300px;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}

.div{
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 220px;
    margin-left: 6%;
    background-color: white;
    padding: 10px;
    padding-top: 45px;
    box-shadow: 5px 5px 5px 5px gray;
}

h6{
    text-align: left;
}

.slika, svg{
    width: 50px;
    height: 50px;
}