main{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: red;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: 10px;
}