body{
    text-align: center;
    background-color: #06231F;
    font-family: Impact, 'Times New Roman', Times, serif;
    /*color: ;*/
}

button{
    background-color: #102E23; 
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

main{
    display: flex;
}

header{
    background-color: #23D1BA;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    border: 1px solid #000F08;
}

nav{
    background-color: #1B9D8C;
}

div{
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

input{
    border-radius: 5%;
}

img{
    height: 200px;
    width: 300px;
}

section{
    background-color: #157A6D;
}

article{
    background-color: #0F574E;
    height: 300px;
}

aside{
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #0F574E;
}

header, nav, section, article, aside, footer{
    border: 1px solid black;
}

footer{
    background-color: #09342F;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 60px;   
    background:#6cf;
}   