<style>
  body {
    display: flex;
    background-color: black;
  }

  button {
    margin-left: 50%;
  }

  .dugme {
    margin-top: 30px;
    margin-left: 10%;
  }

  h4 {
    text-align: center;
  }

  form {
    margin-top: 20px;
  }

  .smestaj {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .opisHotela {
    width: 300px;
  }
</style>
<h4>Dodajte novi smeštaj</h4>
<div class="form">
  <app-forma (dodajSmestaj)="addSmestaj($event)"></app-forma>
  <button class="dugme btn btn-primary" (click)="shuffleSmestaj()">Prikaži nasumični prikaz smeštaja</button><br />
</div>

<div class="smestaj">
  <div *ngFor="let smestaj of lista_svih_smestaja">
    <app-smestaj [smestaj]="smestaj" (deleteSmestaj)="deleteIzabraniSmestaj($event)">
    </app-smestaj>
  </div>
</div>