<style>
    button {
        margin-left: 50%;
    }
</style>

<form [formGroup]="forma" (ngSubmit)="onSubmit(forma.value)">
    <table>
        <tr>
            <td><label for="imeHotela">Unesite ime smeštaja</label></td>
            <td><input type="text" name="imeHotela" id="ime" formControlName="imeHotela"><br /></td>

        </tr>
        <p class="text-danger" *ngIf="!imeHotela.valid">Ime hotela ne zadovoljava kriterijum odnosno sadrži brojeve ili nedozvoljene znake !!</p>
        <tr>
            <td><label for="brojSoba">Broj soba</label></td>
            <td><input type="number" name="brojSoba" id="broj" formControlName="brojSoba"></td>
        </tr>
        <p class="text-danger" *ngIf="!brojSoba.valid">Broj soba ne sme da sadrži slova !!</p>
        <tr>
            <td><label for="opisHotela">Opis smeštaja</label></td>
            <textarea name="opisHotela" id="opisHotela" cols="30" rows="7" maxlength="200" required
                formControlName="opisHotela"></textarea>
        </tr>
        <p class="text-danger" *ngIf="!opisHotela.valid">Opis hotela ne zadovoljava kriterijum (6 karaktera minum mora da sadrži) !!</p>
    </table>
    <button class="btn btn-primary" type="submit" [disabled]="!forma.valid">Dodaj smeštaj</button>
</form>